.container {
  display: flex;
  max-width: max-content;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color:rgb(202, 212, 246);
  border-radius: 10px;
  border: 3px solid rgb(91, 89, 89);
  overflow: hidden;
  box-shadow: 5px 3px 8px -1px rgba(66, 92, 142, 0.1), 0 1px 8px 0 rgba(66, 92, 142, 0.12);
  margin-bottom: 40px;
}